


body {

font-family: 'Inconsolata', sans-serif;
color: white;
line-height: 1.2;   font-size: 12pt;
background: url("images/ghostBack.jpg") repeat center top;
}
h2 {
	color:#7d7474;
	font-family: 'Inconsolata', sans-serif;
	}
