@font-face {
	font-family: ostrich;
	src: url(fonts/ostrich-sans-bold.woff);
	font-weight: bold;
}

body {
	padding: 20px;
	text-align: center;
	font-size: 62.5%;
	background-color: #EA9743;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

h1 {
	font-family: ostrich;
	font-size: 7em;
}

h3 {
	font-size: 2em;
}

main {
	font-size: 1.4em;
}

a {
	color: #333;
}

li {
	list-style: none;
	margin: 3px 0;
}

#page-list a {
	font-weight: bold;
	text-decoration: none;
}

figcaption li {
	display: inline-block;
	margin-right: 20px;
}

.html::after {
	content: "\0000a0\0000a0 \3c\3e";
}

.css::after {
	content: "\0000a0\0000a0 \3c\3e \0000a0 \7b\7d";
}

.responsive::after {
	content: "\0000a0\0000a0 \3c\3e \0000a0 \7b\7d \0000a0 \1f4f1";
}