body {
	font-size: 62.5%;
}

@font-face {
    font-family: LeagueSpartan;
    src: url(league-spartan-master/_webfonts/leaguespartan-bold.woff);
}

@font-face {
    font-family: Fanwood;
    src: url(fanwood/webfonts/fanwood_text-webfont.woff);
}

a {
	color: gray;
	text-decoration: none;
	-webkit-transition: all .5s ease-in; /* Safari */
    transition: all .5s ease-in;
}

nav {
	margin-left: -2.5em;
	font-size: 1.6em;
}

nav ul {
	list-style: none;
}

nav ul li {
	margin: 0 1em 0 0;
	display: inline-block;
	font-style: italic;
}

nav ul li a {
	color: white;
}

figure {
	float: right;
	padding: 1em;
	margin: .5em 1em;
}

figure img {
	display: block;
	border-radius: 10px;
}

figure figcaption {
	display: inline-block;
	float: none;
	padding-top: 10px;
	font-style: italic;
	text-align: right;
}

header {
	width: 100%;
	height: 62.5em;
	background: url(images/cpheader.jpg) no-repeat fixed left top;
	background-size: cover;
	color: white;
	box-shadow: 0px 5px 5px #888888;
}

div#headertxt {
	margin: 0;
	padding-left: 4em;
	opacity: .75;
}

h1 {
	font-size: 7em;
	margin: 0;
	padding-top: 4.5em;
	width: 12em;
}

h2 {
	font-size: 2.75em;
	margin-bottom: 1em;
	font-weight: normal;
		width: 36em;
}

h4 {
	margin-top: 0;
}

h5 {
	font-weight: normal;
	position: relative;
	font-size: 1.6em;
}

article {
	margin: 2em;
	font-family: Fanwood;
	font-size: 1.8em;
}

aside {
	float: right;
	width: 33.33333333%;
	padding: 1em;
	margin: 2em;
	background-color: gray;
	border-radius: 10px;
	box-shadow: 3px 3px 5px #888888;
	opacity: .9;
}

aside a {
	color: white;
}

footer {
	font-size: 12px;
	float: right;
}


iframe#twitter-widget-0.twitter-tweet.twitter-tweet-rendered {
	float: right;
	margin: 1em 2em !important;
	width: 30% !important;
}



a:hover {
	color: gray;
}

.credits {
	background-color: gray;
}


/* MEDIA QUERIES */
@media screen and (max-width: 845px) {
	
	h1 {
		font-size: 5em;
		padding-top: 7.5em;
	}

	h2 {
		font-size: 2em;
	}

	h5 {
		font-size: 1.5em;
	}

	header {
		background: url(images/cpheader.jpg) no-repeat relative top left;
		background-position: -12em 0em;
		width: 1005;
	}

}

@media screen and (max-width: 640px) {

	header {
		background: url(images/cpheader.jpg) no-repeat relative top left;
		background-position: -22em 0em;
		width: 100%;
	}

	article {
		margin: 1em;
	}

	div#headertxt {
		margin: 0;
		padding-left: 2em;
		opacity: .75;
	}

	figure {
		float: right;
		margin: 0em 1em;
	}

	h1 {
		font-size: 5em;
		padding-top: 8em;
	}

	h2 {
		width: 100%;
		font-size: 1.75em;
	}

	h5 {
		font-size: 1em;
	}

	aside {
		float: none;
		display: inline-block;
		width: 90%;
		padding: 1em 1em;
		margin: 0;
		margin-bottom: 1.15em;
	}

	iframe#twitter-widget-0.twitter-tweet.twitter-tweet-rendered {
		float: none;
		margin: 1.5em 0em !important;
		width: 100% !important;
	}

	figure {
		float: none;
		width: 90%;
		display: block;
		text-align: center;
	}

	figure img {
		margin-left: auto;
		margin-right: auto;
	}
}


@media screen and (max-width: 525px) {
	h1 {
		width: 100%;
		font-size: 4em;
		padding-top: 9.25em;
	}

	h5 {
		font-size: 1em;
	}

	nav ul li {
	display: block;
	}
}


@media screen and (max-width: 505px) {

	h1 {
		padding-top: 8.8em;
	}

}

@media screen and (max-width: 380px) {
	h1 {
		padding-top: 7.75em;
	}
}


/* Smartphone in portrait mode */
@media screen and (max-width: 335px) {

	body {
		font-size: 50%;
	}

	header {
		background: url(images/cpheader.jpg) no-repeat relative top left;
		background-position: -48em 0em;
		width: 100%;
	}

	h1 {
		padding-top: 4.5em;
		font-size: 5.2em;
		width: 100%;
	}

	h2 {
		font-size: 2em;
		width: 100%;
	}

	article {
		margin: 1em;
	}

	h3 {
	 	padding-top: 1em;
	} 

	h5 {
		font-size: 1.5em;
	}

	figure {
	float: none;
	margin: 0;
	padding: 0;
	}

	figure img {
		width: 100%;
		display: inline;
		margin: 0;
		padding: 0;
	}

	figure figcaption {
		font-size: 1em;
	}

	div#headertxt
	{
		margin: 0;
		padding-left: 2em;
	}

	nav ul li {
		font-size: 1em;
	}

}

