
h2{
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
	font-size: 1em;
	font-style: bold;
	font-variant: normal;
	line-height: 2em;
}
p {
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
	font-size: .75em;
	font-style: bold;
	font-weight: 400;
	line-height: 1.25em;
}


