/*
	Jenny's Stylesheet
	ReBootU 2015
*/

@font-face{
	font-family: LeagueGothic;
	font-weight: normal;
	src: url(fonts/TheLeagueGothic/LeagueGothic-Regular.otf);
}

@font-face{
	font-family: LeagueGothic-Italic;
	font-weight: italic;
	src: url(fonts/TheLeagueGothic/LeagueGothic-Italic.otf);
}

body{
	background-color: white;
	font-size: 62.5%;
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
}

aside{
	font-size: .8em;
}

header,
footer {
	font-family: LeagueGothic, sans-serif;
	font-weight: normal;
	text-align: center;
	vertical-align: center;
	padding: 1.5em 1em;
	background-color: #7575A3;
	font-size: 3em;
	box-shadow: 7px 7px 4px 0px rgba(0,0,0,.75);
}

nav ul,
nav ol,
nav ol li,
nav ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.4em;
	font-size: 1em;
}

article {
	margin: 5em -1.25em;
	padding: 1em 1em;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6em;
}

section:first-child {
	margin: 5em 0em 1em;
}

section:last-child {
	margin: 3em 0em 1em;
	padding-bottom: 3em;
}

section {
	margin: 3em 0em 0em;
	padding: 1em 1em 1em; 
	opacity: .6;
}

figure{
	margin: 0;
	padding: 2em 0 0;
	font-size: .85em;
	text-align: center;
}

img {
	display: block;
	width: 100%;
}

a {
	background-color: none;
	color: inherit;
	text-decoration: none;
}

h2 {
	display: block;
	margin: 0em -1em;
	padding: 0 0em;
	font-family: LeagueGothic, Impact, "Courier New", sans-serif;
	font-size: 2.0em;
	text-align: center;
}

a.yelp:hover{
	text-decoration: underline;
	opacity: .7;
}

h3 {
	display: block;
	margin: .25em;
	font-family: LeagueGothic-Italic, Impact, sans-serif;
	font-weight: 100;
	font-size: 2em;
	text-align: right;
}

section:hover {
	display: block;
	background-color: #FF6666;
	transition-property: background-color;
	transition-duration: .9s;
	opacity: 1;
}

nav a:hover {
	display: block;
	background-color: #FF6666;
	margin: 0 auto;
	padding: 0 auto;
	font-color: white;
	font-size: 1.4em;
	transition-property: background-color;
}

a:visited {
	font-style: normal;
}	

/* media queries */



@media screen and (max-width: 910px){
	header,
	footer {
	padding: auto 0;
	font-size: 2.5em;
	box-shadow: 0px 7px 4px 0px rgba(0,0,0,.75);
	}

	h1 {
	font-size: 2em;		
	}

	article {
		margin: 3em auto;
		padding: auto;
	}

	section:last-child {
		text-align: left;
	}

}

@media screen and (max-width: 390px){
	header,
	footer {
	font-size: 2.25em;
	}	

	h1 {
	font-size: 1.75em;
	}

	article {
		text-align: center;
	}

	section h2 {
		margin: auto .5em;
	}
}

@media screen and (max-width: 320px){
	header,
	footer {
	font-size: 2em;
	}	

	h1 {
	font-size: 1.75em;
	}

}


